snippet cl "console.log"
console.log('${1:s}'${2})${3}
endsnippet

snippet ci "console.info"
console.info('${1:s}'${2})${3}
endsnippet

snippet cw "console.warn"
console.warn('${1:s}'${2})${3}
endsnippet

snippet re "return"
return ${0}
endsnippet

snippet str "JSON.stringify"
JSON.stringify(${1})${2}
endsnippet
