snippet re "return"
return ${0}
endsnippet

snippet encj "encode json with indent"
import json; print(json.dumps(${1:obj}, indent=2))
${2}
endsnippet

snippet pl "print"
print("${1:>>>}"${2:, }${3})
${4}
endsnippet
